@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-family: 'Roboto', sans-serif; color: #555;}
body, html {font-size: 62.5%;}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
}
button, input[type = "submit"] {webkit-appearance: none;}
form {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;
    margin: 0 auto;
    height: 100%;
}

form input[type = 'text'] {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.3rem;
    padding-left: 1rem;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}

.add-card, .submit-set {display: none;}

.forms, #all-sets {
    width: 50rem;
    height: 30rem;
    background-color: white;
    position: relative;
}

.exit, .exit-form, .exit-all {
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
}
.exit:hover, .exit-form:hover, .exit-all:hover {cursor: pointer;}

#all-sets {
    width: 30rem;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

#bottom {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.list-title {font-size: 1.2rem;}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(69, 121, 118);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(69, 121, 118);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

ul, header {display: flex}
header {
    max-width: 133.6rem;
    height: 6rem;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}

ul a {
    text-decoration: none;
    font-size: 1.6rem;
    margin-left: 2rem;
    text-transform: uppercase;
}
ul a:hover {cursor: pointer;}
ul a:first-child {color: rgb(69, 121, 118)}

input[type = 'submit'] {
    color: #444;
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: 2rem;
    padding: .7rem 0;
    width: 10rem;
    border: 2px solid rgb(69, 121, 118);
    background-color: white;
    font-weight: 600;
}
input[type = 'submit']:hover {cursor: pointer; background-color: rgb(69, 121, 118); color: white}

#set {
    position: relative;
    width: 40rem;
    margin: 0 auto;
    height: 100%;
    display: none;
    flex-direction: column;
    padding-top: 3rem;
    position: relative;
}

h1 {
    font-size: 2rem;
    /* padding: 1rem 0; */
    text-align: center;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    position: relative;
}

.plus {
    border: none;
    width: 1.8rem;
    background-color: white;
    position: absolute;
    right: 1rem;
    top: 8rem;
}
.plus img {width: 1.8rem;}
.plus:hover {cursor: pointer;}

#prev:hover, #next:hover {cursor: pointer;}

.card {
    position: absolute;
    width: 38rem;
    height: 23rem;
    box-shadow: 0 -1px 1.5rem rgba(0,0,0,0.1);
    align-self: center;
    font-size: 2rem;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* -webkit-transform-origin: 50% 50%; */
    margin-top: 8rem;
}


.card div {
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .back {
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
    -o-transform: rotateX( 180deg );
    transform: rotateX( 180deg );
}
.card:hover {cursor: pointer;}

.card-count {
    margin: 1.5rem auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 10rem;
}

.flipped {
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
    -o-transform: rotateX( 180deg );
    transform: rotateX( 180deg );
}

.flipback {
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

#card-count {font-size: 1.2rem; letter-spacing: .3rem;}
